<a href="https://colab.research.google.com/github/SaiKrishna022399/SaiKrishna_INFO5731_Fall2022/blob/main/Sai_Krishna_Sarvadervabhatla_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):


Please write you answer here:

Analyzing the relationship between movie reviews and box office take is an intriguing research subject in the film industry. We can take the resources from several online websites such as IMBD or Rotten Tomotaoes and perform the analysis.
The movie names from the Rotten Tomatoes website can be web scraped using the BeautifulSoup Python tool to gather the data.
For instance, we can gather data on 1000 films. The following procedures must be taken in order to gather and save the data:
    1) Utilize the BeautifulSoup library to scrape the Rotten Tomatoes website for each film names.
    2) Extract movie details like the average review score and the number of reviews.
    3) Store the extracted information in a Python dictionary
    4) Perform the data cleaning, i.e if there are any of the duplicate records
    5) Store the data that is cleansed in an dictonary
    6) To use for further analysis, create a Pandas DataFrame from the dictionary and save it as a CSV file.
    7) Write the data frame to CSV file so that list of movies that the CSV files lists them.

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [ ]:
# You code here (Please add comments in the code):
import requests
import pandas as pd
from bs4 import BeautifulSoup

imdb_url = "https://www.imdb.com/search/title?count=100&start={}&title_type=feature,tv_series&ref_=nv_wl_img_2"
rt_url = "https://www.rottentomatoes.com/m/{}"

def get_data_imbd(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    hollywood_movies = soup.select("h3 > a")
    list1 = []
    for movie in hollywood_movies:
        title_of_movie = movie.get_text()
        id_of_movie = movie.attrs["href"].split("/")[2]
        list1.append([title_of_movie, id_of_movie])
    return list1

def get_rt_data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    try:
        movie_rating = soup.select_one(".mop-ratings-wrap__percentage").get_text()
    except:
        movie_rating = None
    return movie_rating

list2 = []
for i in range(10):
    count = i * 100 + 1
    data_imbd = get_data_imbd(imdb_url.format(count))
    for movie in data_imbd:
        title_of_movie, id_of_movie = movie
        rt_data = get_rt_data(rt_url.format(id_of_movie))
        list2.append([title_of_movie, rt_data])

data_frame = pd.DataFrame(list2, columns=["Title", "Rotten Tomatoes Rating"])

# Write to CSV File
data_frame.to_csv("rotten_tomatos.csv", index=False)

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [12]:
import tweepy         
import pandas as pd
import time

consumer_key = 'QJ1b2AMTf7hBJaiwlVci1I2QP'
consumer_secret = 'OvwBO7HrXCSIsTDQ4vhDHMt4sLH6uhzACdofakjoSao0ykoiTu'
access_token = '1622258397520199680-4QuGBLqEPaqqlYhHpd4zELfUuhvDcM'
access_token_secret = 'alvgIJKdPNygjOqGyAoz9VMQQ1Td7RDnrmzKMmLe5xl8b'



auth = tweepy.OAuthHandler(consumer_key, consumer_secret)  
auth.set_access_token(access_token, access_token_secret) 
api = tweepy.API(auth,wait_on_rate_limit=True)

cursor = tweepy.Cursor(api.search, q="Leonardo DiCaprio", tweet_mode = 'extended').items(1000)

tweets = [[i. created_at, i.user.screen_name, i.full_text] for i in cursor]

tweetsDf = pd.DataFrame(data=tweets,columns=['Time','Username','Tweet'])
tweetsDf

,Time,Username,Tweet
0,2023-02-13 03:57:38,ama_ama_rank,Ôºº 30Êó•ÈñìÁÑ°Êñô Ôºè\n\n‚ú®#Amazon Â£≤„ÇåÁ≠ã„É©„É≥„Ç≠„É≥„Ç∞‚ú®\nüëëPrime Video...
1,2023-02-13 03:57:38,ama_ama_rank,Ôºº 30Êó•ÈñìÁÑ°Êñô Ôºè\n\n‚ú®#Amazon Â£≤„ÇåÁ≠ã„É©„É≥„Ç≠„É≥„Ç∞‚ú®\nüëëPrime Video...
2,2023-02-13 03:54:13,SoyCarco,Y por eso nadie le quiere pagar contratos mill...
3,2023-02-13 03:54:11,CalvinRen_,RT @MohanadElshieky: Dane Cook: I'm dating a 2...
4,2023-02-13 03:51:33,tn_haokip,"""Visit Kaziranga And Assam"": Himanta Sarma Aft..."
...,...,...,...
995,2023-02-12 19:54:24,heiIeI_,"RT @ImagenRetro: Leonardo DiCaprio, 1995 https..."
996,2023-02-12 19:54:16,LaliixMiley,RT @JoshDenny: Everyone talking about Leonardo...
997,2023-02-12 19:53:29,imarcellasccp,"sim, o leonardo dicaprio √© um idiota por namor..."
998,2023-02-12 19:52:51,SaraWatson99,Realising the little girl Leonardo Dicaprio's ...
999,2023-02-12 19:52:43,BotStatsForBots,Leonardo DiCaprio is afraid of ghosts