<a href="https://colab.research.google.com/github/SaiKrishna022399/SaiKrishna_INFO5731_Spring2020/blob/main/SaiKrishnaSarvadevabhatla_Assign1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [5]:
# write your answer here
str = input("Enter the string")
count = 0 
for i in str:
  count = count + 1
print("Length of string is", count)

Enter the stringlengthis
Length of string is 8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [12]:
# write your answer here
str1 = 'google.com'
count = {}
for char in str1:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1

print(count)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [8]:
# write your answer here
string = input("Enter a list element separated by space ")
list1  = string.split()
sum = 0
for num in list1:
    sum = sum + int (num)
print("Sum of elemnts in list is",sum)

Enter a list element separated by space 4 5 6 7
Sum of elemnts in list is 22

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [11]:
# write your answer here
str1 = input("Enter a string")
first_char = str1[0]
str2 = ""
for char in str1:
    if char == first_char:
        str2 += "$"
    else:
        str2 += char

str2 = first_char + str2[1:]
print(str2)

Enter a stringrestart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [16]:
# write your answer here
import math

def cal(a, b):
    S = 3.14 * (1 + (a / b)) ** 3
    return S

a = int(input("Enter a"))
b = int(input("Enter b"))
print(cal(a, b))

Enter a4
Enter b3
39.88962962962962

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [18]:
# write your answer here
dic_1 = {1: 10, 2: 20}
dic_2 = {3: 30, 4: 40}
dic_3 = {5: 50, 6: 60}

new_dict = {}
for dic in (dic_1, dic_2, dic_3):
    for key, value in dic.items():
        new_dict[key] = value

print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [34]:
tupile = (1, 2, 3, 4, 5)
element = int(input("Enter Element"))

for i in tupile:
    if i == element:
        print("element",f"{element} exists in tuple")
        break
else:
    print("element",f"{element} does not exist in tuple")

Enter Element4
element 4 exists in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [29]:
# write your answer here
set_1 = {1, 2, 3, 4, 5}
max_value = max(set_1)
min_value = min(set_1)
print("Max Value is", max_value)
print("Min value is", min_value)

Max Value is 5
Min value is 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [38]:
# write your answer here
import random

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
random.shuffle(studnet_list)

size = len(studnet_list) // 6
rem_students = len(studnet_list) % 6

list1 = []
for i, s in enumerate(studnet_list):
    list1.append(s)
    if (i+1) % size == 0 and (i+1) != len(studnet_list):
        print(f"Group {(i+1)//size}: {list1}")
        list1 = []

if rem_students > 0:
    print(f"Group {(i+1)//size + 1}: {studnet_list[-rem_students:]}")

Group 1: ['sm1640', 'gn0108', 'hy0232', 'sa1198', 'av0659']
Group 2: ['vb0218', 'aos0040', 'sg1297', 'sb1357', 'pr0353']
Group 3: ['sk1390', 'bg0320', 'vm0377', 'jl1252', 'ja0964']
Group 4: ['nv0234', 'ms1500', 'ds0814', 'ak0934', 'fh0141']
Group 5: ['kg0569', 'sk1458', 'kg0470', 'sm1907', 'sk1313']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [42]:
# write your answer here
def duplicates(aray_1):
    list1 = []
    for i in range(len(aray_1)):
        for j in range(i+1, len(aray_1)):
            if aray_1[i] == aray_1[j]:
                list1.append(aray_1[i])
    if len(list1) == 0:
        return -1
    else:
        return list1

aray_1 = [1, 2, 3, 4, 5,6,9,10,7, 8, 9,5,3,1]
print(duplicates(aray_1))

[1, 3, 5, 9]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [7]:
# write your answer here
from datetime import date, timedelta

year = int(input("Enter year to list all sunday dates"))
date_1 = date(year, 1, 1)  # January 1st
date_1 += timedelta(days=(6 - date_1.weekday()))  # First Sunday
list1 = []
while date_1.year == year:
    list1.append(date_1)
    date_1 += timedelta(days=7)

for sunday in list1:
    print(sunday)

Enter year to list all sunday dates2023
2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31